@font-face {
	font-family: "Cairo";
	src: url("../../public/static/fonts/Cairo/Cairo-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Cairo";
	src: url("../../public/static/fonts/Cairo/Cairo-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Cairo";
	src: url("../../public/static/fonts/Cairo/Cairo-Bold.ttf");
	font-weight: 700;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #438fce;
	border-radius: 6px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: "Cairo", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}
